* {
    box-sizing: border-box;
}

body {
    background-color: rgb(1, 25, 55);
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    text-align: center;
}

.container-progress {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.container-progress::before {
    content: '';
    background-color: rgb(107, 107, 147);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
    transition: 4s ease;
}

.progress {
    background-color: greenyellow;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 2s ease;
}

.circle {
    background-color: white;
    color: black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(0, 0, 0);
}

.circle.active {
    border-color: greenyellow;
}

.btn {
    background-color: aqua;
    color: black;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px 30px;
    margin: 5px;
    font-size: 15px;
}

.btn:active {
    transform: scale(.90);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: aquamarine;
    cursor: pointer;
}